*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
/* nav bar ges */
nav{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    /* padding: 10px 0; */
    height: 65px;
    color: white;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
}
nav ul li a{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
}
.logo .imglogo{
    float: left;
}

.logo .txt-logo {
    margin-top: 17px;
    padding-left: 5px;
    float: right;
}
.btn-login {
    text-align: center;
}
.masuk{
    background: rgb(255, 255, 255);
    box-shadow: 0 5px #f5f5f5;
}
.masuk:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.btn{
    padding: 8px 24px;
    color: rgb(0, 0, 0);
    display: inline-block;
    opacity: 0.8;
    border-radius: 6px;
    text-align: center;
    animation: 1s ease 1s;
    transition: 0.24s;
}
.btn:hover {
    opacity: 1;
}

/* mainkan */
.main1{
    /* padding: 10px 0; */
    background-image: url(img/fixbgmain.png);
    background-size: cover;
    color: white;
    height: 590px;
}
.main1{
    display: flex;
}

.text-bg{
    margin-top: 100px;
    margin-left: 30px;
}
.text-bg h1{
    font-size: 70px;
    width: 500px;
    line-height: 80px;
    /* border: 1px solid red; */
}
.text-bg p{
    padding-top: 10px;
    /* border: 1px solid red; */
    width: 600px;
    font-size: 25px;
}
@media screen and (max-width:600px) {
    .main1{
        width: 100%;

    }
}

/* trust */
.container {
    max-width: 1270px;
    width: 100%;
    padding: 0 0px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.trust {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff;
    text-align: center;
}
.heading {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #000000;
}
.heading h2 {
    font-weight: bold;
}
.trusted {
    float: left;
    width: 33%;
}
  
.trused-icon {
    position: relative;
}
  
.trused-icon p {
    position: absolute;
    top: 80%;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}
.clear {
    clear: left;
}
/* working */
.work {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #353535;
    text-align: center;
    /* border: 1px solid red; */
}
.working{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.heading-work {
    padding-top: 40px;
    padding-bottom: 50px;
    color: #ffffff;
}
.heading-work h2 {
    font-weight: bold;
}  
.work-icon {
    position: relative;
    width: 350px;
    height: 400px;
    background-color: #bebebe;
    border-radius: 12px;
}
.work-icon img{
    margin-top: 17px;
    width: 310px;
}
.work-icon p {
    position: absolute;
    top: 87%;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
/* contact */
.contact{
   height: 180px;
   text-align: center;
   padding-bottom: 80px;
   padding-left: 5%;
   padding-right: 5%;
}
.contact-icon a{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.contacts {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin:0 100px;
}
.contact-icon {
    height: 60px;
    width: 250px;
    background-color:#bebebe ;
    border-radius: 12px;
    border: 1px solid rgb(199, 199, 199);
}
.contact-icon img{
    margin-top: 9px;
    margin-left: 15px;
    width: 40px;
    float: left;
}
.whatsapp{
    margin-top: 15px;
}
.telegram{
    margin-top: 15px;
}
.instagram{
    margin-top: 15px;
}
/* footer */
footer{
    text-align: center;
    color: white;
    background-color: #000000;
}